.step(data-title='User Story: Manage Subscriptions', data-file='app/controllers/notifications_controller.rb', data-highlight='')
    h2 User Story: Manage Subscriptions
    blockquote As a User, I would like to manage my subscription status via text message.
    :markdown
      We want to provide the user with two SMS commands to manage their subscription status: `add` and `remove`.  These commands will toggle a boolean flag for their `Subscriber` record in the database, and will determine whether or not they receive messages from our marketing campaign. Because we're not jerks, we don't opt them in automatically - rather, we have them confirm that they want to receive messages from us first.

      To make this happen, we will need to update the controller logic which handles the incoming text message to do a couple things:

      * If the texter is a person already in the database, parse the message they sent to see if it's a command we recognize
      * If it is a `add` or `remove` command, update their subscription status in the database
      * If it is a command we don't recognize, send them a message explaining available commands.

      Let's go back into our controller function to see how this works.

.step(data-title='Processing an Incoming Message', data-file='app/controllers/notifications_controller.rb', data-highlight='51-70')
  :markdown
    ## Processing an Incoming Message

    This internal function handles parsing the incoming message from the user and executing conditional logic to see if they have issued us a command we recognize. It's executed after we have already hit the database once to retrieve the current `Subscriber` model.

.step(data-title='Handling a Subscription Command', data-file='app/controllers/notifications_controller.rb', data-highlight="56-63")
  :markdown
    ## Handling a Subscription Command

    If the user has texted `add` or `remove`, we will update their subscription status in the database. We will then respond to them via SMS with the opposite command to either opt in to updates or opt out.

.step(data-title='Listing Available Commands', data-file='app/controllers/notifications_controller.rb', data-highlight='64-66')
  :markdown
    ## Listing Available Commands

    If they texted in something we don't recognize, we respond to them with a listing of all known commands. We could take this further and implement "help" text for each command, but in this simple use case the commands should be self-explanatory.

.step(data-title='Responding with TwiML', data-file='app/controllers/notifications_controller.rb', data-highlight='72-77')
  :markdown
    ## Responding with TwiML

    The Twilio Ruby library includes the handy `TwiML::Response` helper which handles generating a TwiML (XML) response on the fly. Now to close out the interaction with our incoming message we just need to call `respond(output)` at the end of our controller.

    That's it for the user-facing commands! Now, we need to provide our marketing team with an interface to send messages out to all subscribers. Let's take a look at that next.
